#uploadList {
    width: 1px;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.tableContent{
    height:1px;
    flex-grow: 1;
}

.btnGroup {
    width: 100%;
    margin: 5px 0;
    text-align: right;
}

#table1{
    height:100%;
}